@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
  --black       : #0b0b0b;
  --blackgrey   : #181818;
  --grey        : #bcbcbc;
  --fontgrey    : #606060;
  --orange      : #F74D4D;
  --white       : #FFF;
  --green       : #56C05A;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: var(--blackgrey);
}

::-webkit-scrollbar-thumb {
  background-color: var(--fontgrey);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blackgrey);
}

/* ----- Start Home ----- */
.home-container{
  background-color: var(--black);
  color: #fff;
  width: 100vw;
  height: 100vh;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.home-left img{
  width: 250px;
  height: 250px;
}

.home-left h1{
  font-size: 3.5rem;
  font-weight: 600;
}

.home-left p{
  margin: 1rem 0 3rem 0;
  width: 500px;
  font-size: 1rem;
  color: var(--fontgrey);
}

.home-button{
  display: flex;
  flex-direction: row;
}

.home-button button{
  width: 150px;
  margin-right: 1rem;
}

.home-right-login,
.home-right-register{
  background-color: var(--blackgrey);
  margin-top: -100px;
  padding: 2rem;
  width: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-right-register{
  height: 400px;
}
.home-right-login{
  height: 320px;
}

.home-right-login h3,
.home-right-register h3{
  font-size: 2rem;
}
/* ----- End Home ----- */

/* ----- Start Product ----- */
.product-container{
  background-color: var(--black);
  color: #fff;
  width: 100vw;
  height: 100vh;
  padding: 0 5% 5% 5%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.product-title h3{
  margin-top: 10rem; margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--orange);
}

.product-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* ----- End Product ----- */

/* ----- Start Detail Product ----- */
.detailproduct-container{
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  padding: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.detailproduct-img img{
  border-radius: 7px;  
  overflow: hidden;
  width: 450px;
  height: 500px;
  margin-right: 3rem;
}

.detailproduct-desc{
  display: flex;
  flex-direction: column;
  width: 500px;
}

.detailproduct-desc-title{
  font-size: 1.8rem;
  color: var(--orange);
}

.detailproduct-desc-stock{
  font-size: 1rem;
  color: var(--white);
  margin-bottom: 2rem;
}

.detailproduct-desc-desc{
  color: var(--white);
  padding: 12px;
  height: 200px;
  text-align: justify;
  overflow: auto;
}

.detailproduct-desc-price{
  color: var(--orange);
  font-size: 1.5rem;
  text-align: right;
  margin: 1rem 0;
}
/* ----- End Detail Product ----- */

/* ----- Start Profile ----- */
.profile-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 7% 5%;
  background-color: var(--black);
  width: 100%;
  height: 100vh;
}

.profile-desc h3,
.profile-transaction h3{
  color: var(--orange);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.profile-desc-row{
  display: flex;
  flex-direction: row;
}

.profile-desc-img img{
  width: 350px;
  height: 450px;
  margin-right: 2rem;
  border-radius: 6px;
}

.profile-desc-full{
  width: 450px;
}
/* ----- End Profile ----- */


/* ----- Start Complain ----- */
.complain-container{
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
}

.complain-akun{
  display: flex;
  flex-direction: column;
  z-index: 2;
  border-right: 1px solid var(--fontgrey);
  width: 500px;
}

.complain-akun-profile{
  margin: 120px 20px 10px 20px;
}

.complain-chat{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.complain-chat-input{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 2rem 3rem 2rem;
}
/* ----- End Complain ----- */

/* ----- Start Compare ----- */
.compare-container{
  width: 100%;
  height: 200vh;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compare-container h1{
  color: var(--orange);
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 600;
}

.compare-card{
  display: flex;
  flex-direction: row;
  background-color: var(--blackgrey);
  padding: 2% 5%;
}

.compare-row{
  width: 500px;
  margin: 20px;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222222;
}

.compare-row h1{
  font-size: 2rem;
  color: var(--orange);
  font-weight: 500;
  text-transform: uppercase;
}

.compare-select{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.compare-select label{
  color: var(--white);
  font-size: 1.5rem;
}

.compare-select select{
  margin: 10px 0;
}

.compare-select select{
  font-size: 1rem;
  width: 100%;
  text-align: center;
  background-color: var(--grey);
  color: var(--black);
  border-radius: 5px;
  padding: 5px;
}


.compare-product h1{
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

.compare-product img{
  border-radius: 3px;
  width: 100%;
  height: 300px;
}

.compare-product h3{
  font-size: 1.3rem;
  margin: 10px 0px;
  text-transform: capitalize;
  color: var(--white);
  border-bottom: 1px solid var(--fontgrey);
}

.compare-product p{
  font-size: 1rem;
  color: var(--grey);
}
/* ----- End Compare ----- */

