:root{
  --black       : #0b0b0b;
  --blackgrey   : #181818;
  --grey        : #bcbcbc;
  --fontgrey    : #606060;
  --orange      : #F74D4D;
  --white       : #FFF;
  --green       : #56C05A;
}

/* ----- Start Input ----- */
.sub-input{
    width: 100%;
    padding: 7px;
    font-size: 0.9rem;
    margin: 0.5rem 0;
    border: 1px solid var(--white);
    border-radius: 5px;
    background: rgba(210, 210, 210, 0.25);
    color: var(--white);
    resize: none;
}

.input-file::file-selector-button {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--orange);
  color: var(--white);
  transition: 1s;
  margin-right: 15px;
}

.input-file::file-selector-button:hover {
  background-color: #ff0000;
}
/* ----- End Input ----- */

/* ----- Start Button ----- */
.sub-button{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    transition: 0.3s;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.orange{
    color: var(--white);
    background-color: var(--orange);
}

.black{
    color: var(--white);
    background-color: var(--black);
}

.green{
    color: var(--white);
    background-color: var(--green);
}

.orange:hover{
    background-color: #e70000;
    transition: 0.5s;
}

.black:hover{
    background-color: #262626;
    transition: 0.5s;
}

.green:hover{
    background-color: #00ff08;
    transition: 0.5s;
}

.mar-but{
    margin: 0 10px;
}
/* ----- End Button ----- */

/* ----- Start Paragraf ----- */
.paragraf-row{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.paragraf-row h4{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--orange);
    margin-bottom: 3px;
}

.paragraf-row p{
    color: var(--white);
    font-size: 0.8rem;
    text-align: justify;
    font-weight: 500;
}
/* ----- End Paragraf ----- */

/* ----- Start Table ----- */
.table{
    border-collapse: collapse;
    width: 100%;
    font-size: 0.8em;
    font-family: sans-serif;
    min-width: 400px;
    min-height: 200px;
} 

.thead{
    background-color: var(--fontgrey);
    color: #ffffff;
    text-align: left;
}

th{
    padding: 10px 10px;
}

td {
    padding: 2px 5px;
}

.tbody tr{
    border-bottom: 1px solid var(--grey);
}

.tbody tr:nth-of-type(even) {
    background-color: var(--blackgrey);
}

.tbody tr:last-of-type {
    border-bottom: 1px solid #232323;
}

.tbody tr.active-row {
    font-weight: bold;
    color: #232323;
}

.td-des,
.td-til{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.td-img img{
    width: 50px;
    height: 50px;
}

.td-button{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

/* ----- End table ----- */